#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#-------------------------------------
# RE-ECRITURE DES ROUTES
#-------------------------------------
  # ROUTE DES AUTHORS ---------------------------------------
    # MODIFICATION D'UN AUTHOR : UPDATE
    # PATTERN: authors/edit/x
    # URL: index.php?authors=edit&id=x
    RewriteRule ^authors\/edit\/([1-9][0-9]*)$ index.php?authors=edit&id=$1 [L]

    # MODIFICATION D'UN AUTHOR: FORMULAIRE
    # PATTERN: authors/edit/form/x
    # URL: index.php?authors=editForm&id=x
    RewriteRule ^authors\/edit\/form\/([1-9][0-9]*)$ index.php?authors=editForm&id=$1 [L]

    # SUPPRESSION D'UN AUTHOR
    # PATTERN: authors/delete/x
    # URL: index.php?auhtors=delete&id=x
    RewriteRule ^authors\/delete\/([1-9][0-9]*)$ index.php?authors=delete&id=$1 [L]

    # AJOUTER UN AUTHOR: INSERT
    # PATTERN: authors/add/insert
    # URL: index.php?authors=add
    RewriteRule ^authors\/add\/insert$ index.php?authors=add [L]

    # AJOUTER UN AUTHOR: FORMULAIRE
    # PATTERN: authors/add/form
    # URL: index.php?authors=addForm
    RewriteRule ^authors\/add\/form$ index.php?authors=addForm [L]

    # LISTE DES AUTHORS
    # PATTERN: authors
    # URL: index.php?authors=index
    RewriteRule ^authors$ index.php?authors=index [L]

  # ROUTE DES TAGS ---------------------------------------
    # MODIFICATION D'UN TAG : UPDATE
    # PATTERN: tags/edit/x
    # URL: index.php?tags=edit&id=x
    RewriteRule ^tags\/edit\/([1-9][0-9]*)$ index.php?tags=edit&id=$1 [L]

    # MODIFICATION D'UN TAG: FORMULAIRE
    # PATTERN: tags/edit/form/x
    # URL: index.php?tags=editForm&id=x
    RewriteRule ^tags\/edit\/form\/([1-9][0-9]*)$ index.php?tags=editForm&id=$1 [L]

    # SUPPRESSION D'UN TAG
    # PATTERN: tags/delete/x
    # URL: index.php?tags=delete&id=x
    RewriteRule ^tags\/delete\/([1-9][0-9]*)$ index.php?tags=delete&id=$1 [L]

    # AJOUTER UN TAG: INSERT
    # PATTERN: tags/add/insert
    # URL: index.php?tags=add
    RewriteRule ^tags\/add\/insert$ index.php?tags=add [L]

    # AJOUTER UN TAG: FORMULAIRE
    # PATTERN: tags/add/form
    # URL: index.php?tags=addForm
    RewriteRule ^tags\/add\/form$ index.php?tags=addForm [L]

    # LISTE DES TAGS
    # PATTERN: tags
    # URL: index.php?tags=index
    RewriteRule ^tags$ index.php?tags=index [L]

  # ROUTE DES POSTS -------------------------------------------
    # AJOUT D'UN POST: INSERT
    # PATTERN: posts/add/insert
    # URL: index.php?posts=insert
    RewriteRule ^posts\/add\/insert$ index.php?posts=insert [L]

    # AJOUT D'UN POST: FORMULAIRE
    # PATTERN: posts/add/form
    # URL: index.php?posts=addForm
    RewriteRule ^posts\/add\/form$ index.php?posts=addForm [L]

    # LISTE DES POSTS
    # PATTERN: posts
    # URL: index.php?posts
    RewriteRule ^posts$ index.php?posts [L]

  # ROUTE DES CATEGORIES ---------------------------------------
    # MODIFICATION D'UNE CATEGORIE : UPDATE
    # PATTERN: categories/edit/x
    # URL: index.php?categories=edit&id=x
    RewriteRule ^categories\/edit\/([1-9][0-9]*)$ index.php?categories=edit&id=$1 [L]

    # MODIFICATION D'UNE CATEGORIE: FORMULAIRE
    # PATTERN: categories/edit/form/x
    # URL: index.php?categories=editForm&id=x
    RewriteRule ^categories\/edit\/form\/([1-9][0-9]*)$ index.php?categories=editForm&id=$1 [L]

    # SUPPRESSION D'UNE CATEGORIE
    # PATTERN: categories/delete/x
    # URL: index.php?categories=delete&id=x
    RewriteRule ^categories\/delete\/([1-9][0-9]*)$ index.php?categories=delete&id=$1 [L]

    # AJOUTER UNE CATEGORIE: INSERT
    # PATTERN: categories/add/insert
    # URL: index.php?categories=add
    RewriteRule ^categories\/add\/insert$ index.php?categories=add [L]

    # AJOUTER UNE CATEGORIE: FORMULAIRE
    # PATTERN: categories/add/form
    # URL: index.php?categories=addForm
    RewriteRule ^categories\/add\/form$ index.php?categories=addForm [L]

    # LISTE DES CATEGORIES
    # PATTERN: categories
    # URL: index.php?categories=index
    RewriteRule ^categories$ index.php?categories=index [L]

  # ROUTE DES USERS ------------------------------------------
    # PATTERN: users/logout
    # URL: index.php?users=logout
    RewriteRule ^users\/logout$ index.php?users=logout [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
